<div id="content">

  <div class="uk-section-primary" [attr.uk-sticky]="sticky" [attr.offset]=offset>
    <ul id="chapter-tabs" uk-tab uk-switcher="connect: #sections_tabbed" class="horizontal-tabs">
      <li class="uk-active first-tab">
        <a [routerLink]="[pathStart, code, 'overview', 'overview']" [queryParams]="params">Overview</a>
      </li>
      <li><a [routerLink]="[pathStart, code, 'policies']" fragment="policies_overview"
             [queryParams]="params" (click)="getDomElement('policies')">Policies</a>
      </li>
      <li><a [routerLink]="[pathStart, code, 'infrastructure']" fragment="infrastructure_overview"
             [queryParams]="params" (click)="getDomElement('infrastructure')">Infrastructure</a>
      </li>
      <li><a [routerLink]="[pathStart, code, 'skills']" fragment="skills_overview"
             [queryParams]="params" (click)="getDomElement('skills')">Skills</a>
      </li>
      <li><a [routerLink]="[pathStart, code, 'about']" fragment="what" [queryParams]="params"
             (click)="getDomElement('about')">About this page</a></li>
    </ul>
  </div>

  <ul id="sections_tabbed" class="uk-switcher">
    <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">

      <div class="uk-section-primary" [attr.uk-sticky]="sticky" [attr.offset]=offset+90>
        <ul id="sections-tab" class="uk-subnav horizontal-subnav uk-subnav-pill" uk-switcher="connect: #overview_subtabs">
          <li class="first-tab" [routerLink]="[pathStart, code, 'overview', 'overview']" [queryParams]="params"
              fragment=""><a>Overview</a>
          </li>
          <li [routerLink]="[pathStart, code, 'overview', 'keyActors']" [queryParams]="params"
              fragment="research_funding_organisations" (click)="getDomElement('keyActors')"><a>Key Actors</a>
          </li>
          <li [routerLink]="[pathStart, code, 'overview', 'initiatives']" [queryParams]="params"
              fragment="eosc_national_initiative" (click)="getDomElement('initiatives')"><a>Initiatives</a>
          </li>
          <li [routerLink]="[pathStart, code, 'overview', 'miscellaneous']" [queryParams]="params">
            <a>Miscellaneous</a>
          </li>
        </ul>
      </div>

      <ul *ngIf="surveyAnswer && surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']"
          id="overview_subtabs" class="uk-switcher uk-margin">

        <li>
          <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']; else overView">
            <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']" class="uk-margin-large-top"></div>
          </ng-container>
          <ng-template #overView><p>N/A</p></ng-template>
        </li>

        <li>

          <div class="uk-grid uk-flex uk-margin-large-top">

            <div class="uk-width-1-4 uk-flex-last">
              <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170>
                <div class="uk-tile uk-tile-secondary">
                  <div class="tabsTitle uk-margin-bottom">Content</div>
                  <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="research_funding_organisations" [queryParams]="params">
                        Research Funding Organisations
                      </a>
                    </li>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="research_performing_organisations" [queryParams]="params">
                        Research Performing Organisations
                      </a>
                    </li>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="research_support_organisations" [queryParams]="params">
                        Research Support Organisations
                      </a>
                    </li>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="other_organisations" [queryParams]="params">
                        Other Organisations
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="uk-width-3-4" id="keyActors">

              <div id="research_funding_organisations">
                <div class="uk-text-secondary">Research Funding Organisations</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']?.length > 0; else funding_organisations">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question2-1']"></div>
                  </div>
                </ng-container>
                <ng-template #funding_organisations><p>N/A</p></ng-template>
              </div>

              <div id="research_performing_organisations">
                <div class="uk-text-secondary">Research Performing Organisations</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']?.length > 0; else performing_organisations">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question3-1']"></div>
                  </div>
                </ng-container>
                <ng-template #performing_organisations><p>N/A</p></ng-template>
              </div>

              <div id="research_support_organisations">
                <div class="uk-text-secondary">Research Support Organisations</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']?.length > 0; else support_organisations">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question4-1']"></div>
                  </div>
                </ng-container>
                <ng-template #support_organisations><p>N/A</p></ng-template>
              </div>

              <div id="other_organisations">
                <div class="uk-text-secondary">Other Organisations</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']?.length > 0; else other_organisations">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question30-1']"></div>
                  </div>
                </ng-container>
                <ng-template #other_organisations><p>N/A</p></ng-template>
              </div>

            </div>
          </div>

        </li>

        <li>

          <div class="uk-grid uk-flex uk-margin-large-top">
            <div class="uk-width-1-4 uk-flex-last">
              <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170>
                <div class="uk-tile uk-tile-secondary">
                  <div class="tabsTitle uk-margin-bottom">Content</div>
                  <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
<!--                    <li *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']"-->
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="eosc_national_initiative" [queryParams]="params">
                        EOSC National Initiative
                      </a>
                    </li>
<!--                    <li *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']"-->
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="open_science_and_FAIR_national_initiatives" [queryParams]="params">
                        Open Science and FAIR National Initiatives
                      </a>
                    </li>
<!--                    <li *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']"-->
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="open_access_publishing" [queryParams]="params">
                        Open Access Publishing
                      </a>
                    </li>
<!--                    <li *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']"-->
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="regional_EC_initiatives" [queryParams]="params">
                        Regional / EC Initiatives
                      </a>
                    </li>
<!--                    <li *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']"-->
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                      <a routerLink="./" fragment="global_initiatives" [queryParams]="params">Global Initiatives</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="uk-width-3-4" id="initiatives">
              <div id="eosc_national_initiative">
                <div class="uk-text-secondary">EOSC National Initiative</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']; else national_initiative">
                  <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']['Question5-1']" class="uk-margin-medium-top"></div>
                </ng-container>
                <ng-template #national_initiative><p>N/A</p></ng-template>
              </div>
              <div id="open_science_and_FAIR_national_initiatives">
                <div class="uk-text-secondary">Open Science and FAIR National Initiatives</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']?.length > 0; else FAIR_national_initiatives">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question6-1']"></div>
                  </div>
                </ng-container>
                <ng-template #FAIR_national_initiatives><p>N/A</p></ng-template>
              </div>
              <div id="open_access_publishing">
                <div class="uk-text-secondary">Open Access Publishing</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']; else open_access">
                  <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']" class="uk-margin-medium-top"></div>
                </ng-container>
                <ng-template #open_access><p>N/A</p></ng-template>
              </div>
              <div id="regional_EC_initiatives">
                <div class="uk-text-secondary">Regional / EC Initiatives</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']?.length > 0; else EC_initiatives">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question8-1']"></div>
                  </div>
                </ng-container>
                <ng-template #EC_initiatives><p>N/A</p></ng-template>
              </div>
              <div id="global_initiatives">
                <div class="uk-text-secondary">Global Initiatives</div>
                <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']?.length > 0; else global_initiatives">
                  <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']" class="uk-margin-medium-top">
                    <div [innerHTML]="element['Question31-1']"></div>
                  </div>
                </ng-container>
                <ng-template #global_initiatives><p>N/A</p></ng-template>
              </div>
            </div>

          </div>

        </li>

        <li>
          <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']; else misc">
            <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']" class="uk-margin-large-top"></div>
          </ng-container>
          <ng-template #misc><p>N/A</p></ng-template>
        </li>
      </ul>
    </li>

    <li *ngIf="surveyAnswer && surveyAnswer['OPEN SCIENCE POLICY']" aria-hidden="true" class="" style="animation-duration: 200ms;">

      <div class="uk-grid uk-flex uk-margin-large-top">

        <div class="uk-width-1-4 uk-flex-last">
          <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170 [attr.end]="'#content'">
            <div class="uk-tile uk-tile-secondary">
              <div class="tabsTitle uk-margin-bottom">Content</div>
              <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="policies_overview" [queryParams]="params">Overview</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="national_policy_and_legislation" [queryParams]="params">
                    National Policy and Legislation
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="funder_policies" [queryParams]="params">Funder Policies</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="institutional_policies" [queryParams]="params">Institutional policies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4" id="policies">
          <div id="policies_overview">
            <div class="uk-text-secondary">Overview</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question10']; else policies_overview">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE POLICY']['Question10']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #policies_overview><p>N/A</p></ng-template>
          </div>
          <div id="national_policy_and_legislation">
            <div class="uk-text-secondary">National Policy and Legislation</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question11']?.length; else legislation">
              <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question11']" class="uk-margin-medium-top">
                <div [innerHTML]="element['Question11-1']"></div>
              </div>
            </ng-container>
            <ng-template #legislation><p>N/A</p></ng-template>
          </div>
          <div id="funder_policies">
            <div class="uk-text-secondary">Funder Policies</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question12']?.length; else funder_policies">
              <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question12']" class="uk-margin-medium-top">
                <div [innerHTML]="element['Question12-1']"></div>
              </div>
            </ng-container>
            <ng-template #funder_policies><p>N/A</p></ng-template>
          </div>
          <div id="institutional_policies">
            <div class="uk-text-secondary">Institutional policies</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question13']?.length; else institutional_policies">
              <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question13']" class="uk-margin-medium-top">
                <div [innerHTML]="element['Question13-1']"></div>
              </div>
            </ng-container>
            <ng-template #institutional_policies><p>N/A</p></ng-template>
          </div>
        </div>

      </div>

    </li>

    <li *ngIf="surveyAnswer && surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']" aria-hidden="true" class="" style="animation-duration: 200ms;">

      <div class="uk-grid uk-flex uk-margin-large-top">
        <div class="uk-width-1-4 uk-flex-last">
          <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170 [attr.end]="'#content'">
            <div class="uk-tile uk-tile-secondary">
              <div class="tabsTitle uk-margin-bottom">Content</div>
              <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="infrastructure_overview" [queryParams]="params">Overview</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="national_data_service" [queryParams]="params">National Data Service</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="networks_&_aggregators" [queryParams]="params">
                    Networks & Aggregators of Scientific/Research Content
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="literature_repositories" [queryParams]="params">
                    Literature repositories
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="data_repositories" [queryParams]="params">Data repositories</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="software_repositories" [queryParams]="params">Software repositories</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="OA_publishing_platforms" [queryParams]="params">
                    OA Publishing Platforms
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="monitoring_infrastructure" [queryParams]="params">
                    Monitoring Infrastructure
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="helpdesk_and_support" [queryParams]="params">Helpdesk and Support</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="links_to_european_and_global_infrastructures" [queryParams]="params">
                    Links to European and Global Infrastructures
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="authentication_and_authorization" [queryParams]="params">
                    Authentication and Authorization Infrastructure (AAI) and Authentication and Authorization for Research and Collaboration (AARC)
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="cloud_services" [queryParams]="params">
                    Cloud Services
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4" id="infrastructure">
          <div id="infrastructure_overview">
            <div class="uk-text-secondary">Overview</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question14']; else infrastructure_overview">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question14']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #infrastructure_overview><p>N/A</p></ng-template>
          </div>
          <div id="national_data_service">
            <div class="uk-text-secondary">National Data Service</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question15']?.['Question15-1']; else data_service">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question15']['Question15-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #data_service><p>N/A</p></ng-template>
          </div>
          <div id="networks_&_aggregators">
            <div class="uk-text-secondary">Networks & Aggregators of Scientific/Research Content</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question16']?.['Question16-1']; else networks_aggregators">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question16']['Question16-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #networks_aggregators><p>N/A</p></ng-template>
          </div>
          <div id="literature_repositories">
            <div class="uk-text-secondary">Literature repositories</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question17']?.['Question17-1']; else literature_repositories">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question17']['Question17-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #literature_repositories><p>N/A</p></ng-template>
          </div>
          <div id="data_repositories">
            <div class="uk-text-secondary">Data repositories</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question18']?.['Question18-1']; else data_repositories">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question18']['Question18-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #data_repositories><p>N/A</p></ng-template>
          </div>
          <div id="software_repositories">
            <div class="uk-text-secondary">Software repositories</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question19']?.['Question19-1']; else software_repositories">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question19']['Question19-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #software_repositories><p>N/A</p></ng-template>
          </div>
          <div id="OA_publishing_platforms">
            <div class="uk-text-secondary">OA Publishing Platforms</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question20']?.['Question20-1']; else OA_publishing_platforms">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question20']['Question20-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #OA_publishing_platforms><p>N/A</p></ng-template>
          </div>
          <div id="monitoring_infrastructure">
            <div class="uk-text-secondary">Monitoring Infrastructure</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question21']?.['Question21-1']; else monitoring_infrastructure">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question21']['Question21-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #monitoring_infrastructure><p>N/A</p></ng-template>
          </div>
          <div id="helpdesk_and_support">
            <div class="uk-text-secondary">Helpdesk and Support</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question22']?.['Question22-1']; else helpdesk_and_support">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question22']['Question22-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #helpdesk_and_support><p>N/A</p></ng-template>
          </div>
          <div id="links_to_european_and_global_infrastructures">
            <div class="uk-text-secondary">Links to European and Global Infrastructures</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question23']?.['Question23-1']; else links_to_european_and_global_infrastructures">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question23']['Question23-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #links_to_european_and_global_infrastructures><p>N/A</p></ng-template>
          </div>
          <div id="authentication_and_authorization">
            <div class="uk-text-secondary">Authentication and Authorization Infrastructure (AAI) and Authentication and Authorization for Research and Collaboration (AARC)</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question32']; else authentication_and_authorization">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question32']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #authentication_and_authorization><p>N/A</p></ng-template>
          </div>
          <div id="cloud_services">
            <div class="uk-text-secondary">Cloud Services</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question33']; else cloud_services">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question33']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #cloud_services><p>N/A</p></ng-template>
          </div>
        </div>

      </div>

    </li>

    <li *ngIf="surveyAnswer && surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']" aria-hidden="true" class="" style="animation-duration: 200ms;">

      <div class="uk-grid uk-flex uk-margin-large-top">
        <div class="uk-width-1-4 uk-flex-last">
          <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170 [attr.end]="'#content'">
            <div class="uk-tile uk-tile-secondary">
              <div class="tabsTitle uk-margin-bottom">Content</div>
              <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="skills_overview" [queryParams]="params">Overview</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="training_infrastructure" [queryParams]="params">Training Infrastructure</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="competence_centers" [queryParams]="params">
                    Open Science/Digital Competence centers
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="open_science_professionals" [queryParams]="params">
                    Open Science Professionals
                  </a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="open_science_curricula" [queryParams]="params">Open Science Curricula</a>
                </li>
                <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                  <a routerLink="./" fragment="links" [queryParams]="params">Links to national initiatives on Digital Skills</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4" id="skills">
          <div id="skills_overview">
            <div class="uk-text-secondary">Overview</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question24']; else skills_overview">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question24']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #skills_overview><p>N/A</p></ng-template>
          </div>
          <div id="training_infrastructure">
            <div class="uk-text-secondary">Training Infrastructure</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question25']; else training_infrastructure">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question25']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #training_infrastructure><p>N/A</p></ng-template>
          </div>
          <div id="competence_centers">
            <div class="uk-text-secondary">Open Science/Digital Competence centers</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question26']?.length > 0; else competence_centers">
              <div *ngFor="let element of surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question26']" class="uk-margin-medium-top">
                <div [innerHTML]="element['Question26-1']"></div>
              </div>
            </ng-container>
            <ng-template #competence_centers><p>N/A</p></ng-template>
          </div>
          <div id="open_science_professionals">
            <div class="uk-text-secondary">Open Science Professionals</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question27']; else open_science_professionals">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question27']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #open_science_professionals><p>N/A</p></ng-template>
          </div>
          <div id="open_science_curricula">
            <div class="uk-text-secondary">Open Science Curricula</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question28']?.length > 0; else open_science_curricula">
              <div *ngFor="let element of surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question28']" class="uk-margin-medium-top">
                <div [innerHTML]="element"></div>
              </div>
            </ng-container>
            <ng-template #open_science_curricula><p>N/A</p></ng-template>
          </div>
          <div id="links">
            <div class="uk-text-secondary">Links to national initiatives on Digital Skills</div>
            <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question29']?.['Question29-1']; else links">
              <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question29']['Question29-1']" class="uk-margin-medium-top"></div>
            </ng-container>
            <ng-template #links><p>N/A</p></ng-template>
          </div>
        </div>

      </div>

    </li>

    <li *ngIf="surveyAnswer" aria-hidden="true" class="" style="animation-duration: 200ms;">

      <div class="uk-grid uk-flex uk-margin-large-top">
        <div class="uk-width-1-4 uk-flex-last">
          <div [attr.uk-sticky]="sticky" [attr.offset]=offset+170 [attr.end]="'#content'">
            <div class="uk-tile uk-tile-secondary">
              <div class="tabsTitle uk-margin-bottom">Content</div>
              <ul class="uk-nav uk-nav-default uk-tab-right" uk-nav>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                <a routerLink="./" fragment="what" [queryParams]="params">What is the Country Page</a>
              </li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                <a routerLink="./" fragment="who" [queryParams]="params">Who is involved</a>
              </li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                <a routerLink="./" fragment="how" [queryParams]="params">How information is gathered</a>
              </li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                <a routerLink="./" fragment="why" [queryParams]="params">Why is it important</a>
              </li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="linkActiveOptions">
                <a routerLink="./" fragment="linksWithERAAndEOSC" [queryParams]="params">
                  What are the links with the ERA and EOSC
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4" id="about">
          <div id="what" class="uk-margin-medium-bottom">
            <div class="uk-text-secondary">What is the Country Page</div>
            <div class="uk-margin-top">
              <p>
                The OpenAIRE Country Pages map the diverse national Research and Development (R&D) landscapes in Europe to
                provide a 360o view on the Open Science maturity of more than 35 countries. The Country Pages compile information
                about Open Science policies, key actors, initiatives, digital infrastructure and repositories as well as on training
                and skills employed to realise them.
              </p>
            </div>
          </div>

          <div id="who" class="uk-margin-medium-bottom">
            <div class="uk-text-secondary">Who is involved</div>
            <div class="uk-margin-top">
              <p>
                OpenAIRE maintains a strong network of experts known as the National Open Access Desks (NOADs) who are committed
                to supporting the adoption and implementation of Open Science in their national research environments. They nurture
                collaborations with national stakeholders and experts and leverage on those connections to populate, curate and
                update the content of their country pages on a regular basis.
              </p>
            </div>
          </div>

          <div id="how" class="uk-margin-medium-bottom">
            <div class="uk-text-secondary">How information is gathered</div>
            <div class="uk-margin-top">
              <p>
                Two major sources that feed the Country Pages with text, numbers and figures are the NOADS with their national
                networks and the OpenAIRE Graph.
              </p>
            </div>
          </div>

          <div id="why" class="uk-margin-medium-bottom">
            <div class="uk-text-secondary">Why is it important</div>
            <div class="uk-margin-top">
              <p>
                This service allows to trace the implementation of Open Science practices in different national settings and
                displays the potential for further development and collaboration in all areas of Open Science.
              </p>
            </div>
          </div>

          <div id="linksWithERAAndEOSC" class="uk-margin-medium-bottom">
            <div class="uk-text-secondary">What are the links with the ERA and EOSC</div>
            <div class="uk-margin-top">
              <p>
                The OpenAIRE Country Pages form the most complete and validated resource for Open Science in Europe complementing
                policy efforts and monitoring services, such as the Open Science Observatory.
              </p>
            </div>
          </div>
        </div>

      </div>

    </li>
  </ul>

</div>
