<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-expand">

    <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up uk-padding-remove" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible',delay:300,topoffset:-100}">
      <!--<div class="uk-container uk-container-expand uk-container-center uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up uk-padding-remove" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible',delay:300,topoffset:-100}">-->

      <div class="uk-visible@m">

        <ul *ngIf="countryPageOverviewData && countryPageOverviewData.name" class="uk-breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li><span>{{countryPageOverviewData.name}}</span></li>
        </ul>
      </div>

      <div class="uk-grid uk-grid-match uk-grid-small uk-margin-medium-top">

        <div class="uk-width-2-3@m uk-width-2-3@l uk-width-1-1@s">

          <div class="uk-container uk-container-expand">

            <!--LAPTOP & PAD LANDSCAPE-->
            <div class="uk-visible@m">

              <div class="uk-flex uk-flex-between">
                <div class="">
                  <img src="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png" class="flag-image" width="132" height="132">
                  <div class="uk-inline uk-margin-left">
                    <h1 *ngIf="countryPageOverviewData && countryPageOverviewData.name">{{countryPageOverviewData.name}}</h1>
                    <span class="lastUpdateInfo">Data Last Updated: </span>
                    <span *ngIf="surveyAnswer?.metadata?.modificationDate" class="lastUpdateInfo">{{surveyAnswer.metadata.modificationDate | date:'mediumDate'}}</span>
                  </div>
                </div>

                <!-- TODO uncomment when implemented -->
                <!--<div class="actionButtonsCountryPage uk-text-right">-->
                <!--<a class=""><i class="fas fa-code uk-margin-small-right"></i>Embed</a>-->
                <!--&lt;!&ndash;<a class="uk-margin-left"><i class="fas fa-download uk-margin-small-right"></i>Download CSV</a>&ndash;&gt;-->
                <!--<a class="uk-margin-left"><i class="fas fa-file-pdf uk-margin-small-right"></i>Download PDF</a>-->
                <!--</div>-->
              </div>

              <div class="uk-position-relative uk-margin-large-top uk-width-xlarge uk-margin-auto-right@s uk-margin-remove-left@s uk-margin-auto uk-text-left">
                <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-column-small uk-grid-match uk-grid" uk-grid="">
                  <div class="uk-first-column">
                    <div class="el-item uk-margin-auto uk-width-medium uk-card uk-card-primary uk-card-small uk-card-body uk-margin-remove-first-child">

                      <div class="uk-child-width-expand uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-auto uk-first-column">
                          <picture>
<!--                            <source type="image/webp"-->
<!--                                    srcset="https://www.openaire.eu/templates/yootheme/cache/03/elli-200_200_200-03ff40ed.webp 90w, https://www.openaire.eu/templates/yootheme/cache/03/elli-200_200_200-03ff40ed.webp 180w"-->
<!--                                    sizes="(min-width: 90px) 90px">-->
                            <img src="https://www.openaire.eu/templates/yootheme/cache/03/elli-200_200_200-03ff40ed.png"
                                 class="el-image uk-border-circle" alt="" loading="lazy" width="90" height="90">
                          </picture>
                        </div>
                        <div class="uk-margin-remove-first-child">


                          <div class="el-title uk-h5 uk-margin-remove-top uk-margin-remove-bottom"><a
                            href="/72-noads/127" class="uk-link-reset">Elli Papadopoulou</a></div>

                          <div class="el-content uk-panel uk-text-left">ATHENA Research &amp; Innovation Center</div>

                        </div>
                      </div>


                    </div>
                  </div>
                  <div>
                    <div class="el-item uk-margin-auto uk-width-medium uk-card uk-card-primary uk-card-small uk-card-body uk-margin-remove-first-child">
                      <div class="uk-child-width-expand uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-auto uk-first-column">
                          <picture>
<!--                            <source type="image/webp"-->
<!--                                    srcset="/templates/yootheme/cache/90/170_araka_photo_400_400-9086339d.webp 90w, /templates/yootheme/cache/2e/170_araka_photo_400_400-2e8a106c.webp 180w"-->
<!--                                    sizes="(min-width: 90px) 90px">-->
                            <img src="https://www.openaire.eu/templates/yootheme/cache/49/170_araka_photo_400_400-49ae2031.jpeg"
                                 class="el-image uk-border-circle" alt="" loading="lazy" width="90" height="90">
                          </picture>
                        </div>
                        <div class="uk-margin-remove-first-child">

                          <div class="el-title uk-h5 uk-margin-remove-top uk-margin-remove-bottom"><a
                            href="/72-noads/170" class="uk-link-reset">Iliana Arka</a></div>

                          <div class="el-content uk-panel uk-text-left">HEAL-Link</div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--MOBILE & PAD PORTRAIT-->
            <div class="uk-hidden@m uk-text-center">
              <div class="">
                <img src="../../../assets/img/flags/{{countryCode | lowercase}}-flag-round.png" class="flag-image uk-display-block uk-margin-auto-left uk-margin-auto-right" width="103" height="103">
                <div class="uk-margin-top">
                  <h1 class="uk-margin-small-bottom">Greece</h1>
                  <span class="lastUpdateInfo">Data Last Updated: </span>
                  <span *ngIf="surveyAnswer?.metadata?.modificationDate" class="lastUpdateInfo">{{surveyAnswer.metadata.modificationDate | date:'mediumDate'}}</span>
                </div>
              </div>
            </div>



          </div>

        </div>

        <!--Research Overview-->
        <!--LAPTOP & PAD LANDSCAPE-->
        <div class="uk-visible@m uk-width-1-3@m uk-width-1-3@l">
          <div class="uk-card uk-card-default infoBox">

            <div class="uk-card-body">

              <div class="">
                <h6 class="uk-margin-small-top uk-margin-remove">R&D Information</h6>
                <div class="uk-text-muted uk-margin-small-top">From Eurostat</div>
              </div>

              <div class="numbers uk-margin-top uk-grid uk-child-width-1-2 uk-grid-match" uk-height-match="target: > div > div">

                <div class="indicator uk-grid-margin">
                  <ng-container *ngIf="countryPageOverviewData?.rndExpenditure">
                    <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.rndExpenditure?.expenditure">{{countryPageOverviewData.rndExpenditure.expenditure}}%</h5>
                    <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure || !countryPageOverviewData.rndExpenditure.expenditure">--</h5>
                    <div class="uk-text-light uk-text-muted">
                      <span> of GDP for </span>
                      <span class="number uk-text-primary">{{countryPageOverviewData.rndExpenditure.year}}</span>
                      <div> R&D expenditure</div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure">
                    <h5 class="number uk-text-primary uk-margin-small-bottom">--</h5>
                    <div class="uk-text-light uk-text-muted">R&D expenditure</div>
                  </ng-container>
                </div>

<!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.funders">{{countryPageOverviewData.funders}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.funders">--</h5>
                  <div class="uk-text-light uk-text-muted">funders</div>
                </div>

<!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.fundingOrganizations">{{countryPageOverviewData.fundingOrganizations}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.fundingOrganizations">--</h5>
                  <div class="uk-text-light uk-text-muted">funding organizations</div>
                </div>

<!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.ec_fundedProjects">{{countryPageOverviewData.ec_fundedProjects}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.ec_fundedProjects">--</h5>
                  <div class="uk-text-light uk-text-muted">projects funded by the European Commission since 2013</div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <!--Research Overview-->
        <!--MOBILE & PAD PORTRAIT-->
<!--        <div class="uk-hidden@m uk-width-1-1@s uk-margin-medium-top">-->
<!--          <div class="uk-container uk-container-expand">-->
<!--            <div *ngIf="countryPageOverviewData" class="uk-card uk-card-default chartCard overviewMobile">-->
<!--              <div class="uk-card-body">-->
<!--                <div class="numbers">-->

<!--                  <div class="">-->
<!--                    <ng-container *ngIf="countryPageOverviewData?.rndExpenditure">-->
<!--                      <span class="number big uk-text-primary">{{countryPageOverviewData.rndExpenditure.expenditure}}%</span>-->
<!--                      <span>-->
<!--                      <span class="uk-margin-small-right uk-margin-small-left"> OF GDP FOR </span>-->
<!--                      <span class="number big uk-text-primary">{{countryPageOverviewData.rndExpenditure.year}}</span>-->
<!--                      <div class="uk-margin-small-top"> R&D EXPENDITURE</div>-->
<!--                    </span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure">-->
<!--                      <div class="number big uk-text-primary">&#45;&#45;</div>-->
<!--                      <div class="uk-margin-small-top">R&D EXPENDITURE</div>-->
<!--                    </ng-container>-->
<!--                  </div>-->

<!--                  <div class="uk-margin-medium-top">-->
<!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.funders">{{countryPageOverviewData.funders}}</div>-->
<!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.funders">&#45;&#45;</div>-->
<!--                    <div class="uk-margin-small-top">FUNDERS</div>-->
<!--                  </div>-->

<!--                  <div class="uk-margin-medium-top">-->
<!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.fundingOrganizations">{{countryPageOverviewData.fundingOrganizations}}</div>-->
<!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.fundingOrganizations">&#45;&#45;</div>-->
<!--                    <div class="uk-margin-small-top">FUNDING ORGANIZATIONS</div>-->
<!--                  </div>-->

<!--                  <div class=" uk-margin-medium-top">-->
<!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.ec_fundedProjects">{{countryPageOverviewData.ec_fundedProjects}}</div>-->
<!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.ec_fundedProjects">&#45;&#45;</div>-->
<!--                    <div class="uk-margin-small-top">PROJECTS FUNDED BY THE EUROPEAN COMMISSION SINCE 2013</div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


      </div>

    </div>



  </div>
</div>

<div class="uk-section uk-section-primary uk-section-medium uk-preserve-color">
  <div class="uk-container uk-container-expand">

    <div *ngIf="surveyAnswer?.answer">

      <ul uk-tab data-uk-tab="{connect:'#sections_tabbed',animation: 'slide-bottom'}">
        <li class="uk-active"><a href="#">Overview</a></li>
        <li><a href="#">Policies</a></li>
        <li><a href="#">Infrastructure</a></li>
        <li><a>Skills</a></li>
        <li><a>About this page</a></li>
      </ul>

      <ul id="sections_tabbed" class="uk-switcher">
        <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">

          <ul class="uk-subnav uk-subnav-pill uk-margin-medium-top" uk-switcher>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Key Actors</a></li>
            <li><a href="#">Initiatives</a></li>
            <li><a href="#">Miscellaneous</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">

            <li>
              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']">
                <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']" class="uk-margin-large-top"></div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']">
                <div class="uk-margin-large-top uk-text-secondary">Research Funding Organisations</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question2-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']">
                <div class="uk-margin-large-top uk-text-secondary">Research Performing Organisations</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question3-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']">
                <div class="uk-margin-large-top uk-text-secondary">Research Support Organisations</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question4-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']">
                <div class="uk-margin-large-top uk-text-secondary">Other Organisations</div>
                <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']" class="uk-margin-medium-top"></div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']">
                <div class="uk-margin-large-top uk-text-secondary">EOSC National Initiative</div>
                <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']['Question5-1']" class="uk-margin-medium-top"></div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']">
                <div class="uk-margin-large-top uk-text-secondary">Open Science and FAIR National Initiatives</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question6-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']">
                <div class="uk-margin-large-top uk-text-secondary">Open Access Publishing</div>
                <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']" class="uk-margin-medium-top"></div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']">
                <div class="uk-margin-large-top uk-text-secondary">Regional / EC Initiatives</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question8-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']">
                <div class="uk-margin-large-top uk-text-secondary">Global Initiatives</div>
                <div *ngFor="let element of surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question31-1']"></div>
                </div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']">
                <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']" class="uk-margin-large-top"></div>
              </ng-container>
            </li>
          </ul>
        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">
          <p>Policies content</p>
        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">
          <p>Infrastructure content</p>
        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">
          <p>Skills content</p>
        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">
          <p>About this page content</p>
        </li>
      </ul>

    </div>

  </div>
</div>

<!--    <div>-->
<!--      question1:-->
<!--      <div [innerHTML]="surveyAnswer?.answer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']"></div>-->
<!--    </div>-->
<!--    <div>-->
<!--      question11:-->
<!--      <span *ngFor="let element of surveyAnswer?.answer['OPEN SCIENCE POLICY']['Question11']">-->
<!--        <span [innerHTML]="element['Question11-1'] + ','"></span>-->
<!--&lt;!&ndash;      {{element['Question11-1'] + ','}}&ndash;&gt;-->
<!--    </span>-->
<!--    </div>-->

<!--<pre>{{surveyAnswer?.answer | json}}</pre>-->
