<div *ngIf="displayFullContent === 'true' || displayFullContent === null" class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-expand">

    <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up uk-padding-remove" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible',delay:300,topoffset:-100}">

      <div class="uk-grid uk-grid-match uk-grid-small uk-margin-medium-top">

        <div class="uk-width-2-3@m uk-width-2-3@l uk-width-1-1@s">

          <div class="uk-container uk-container-expand">

            <!--LAPTOP & PAD LANDSCAPE-->
            <div class="uk-visible@m">

              <div class="uk-flex uk-flex-between">
                <div class="">
                  <img src="../../survey-tool/assets/images/flags/{{countryCode | lowercase}}-flag-round.png" class="flag-image" width="132" height="132">
                  <div class="uk-inline uk-margin-left">
                    <h1 *ngIf="countryPageOverviewData && countryPageOverviewData.name">{{countryPageOverviewData.name}}</h1>
                    <span class="lastUpdateInfo">Data Last Updated: </span>
                    <span *ngIf="surveyAnswerMetadata?.lastUpdate" class="lastUpdateInfo">{{surveyAnswerMetadata?.lastUpdate | date:'mediumDate'}}</span>
                  </div>
                </div>

              </div>

<!--              <div class="uk-position-relative uk-margin-large-top uk-width-xlarge uk-margin-auto-right@s uk-margin-remove-left@s uk-margin-auto uk-text-left">-->
<!--                <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-column-small uk-grid-match uk-grid" uk-grid="">-->
                <div class="uk-margin-large-top uk-margin-right">
                  <p>This information has been compiled by our National Open Access Desks</p>
                  <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-3@l uk-grid-column-small uk-grid-match uk-grid" uk-grid="">
                  <div *ngFor="let editor of surveyAnswerMetadata?.editors" class="uk-first-column">
                    <div class="el-item uk-card uk-card-primary uk-card-small uk-card-body uk-margin-remove-first-child">

                      <div class="uk-child-width-expand uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-auto uk-first-column">
                          <picture>
                            <img *ngIf="editor.profile?.picture; else noPicture" [src]="'data:image;base64,' + editor.profile?.picture | safeUrl:'resourceUrl'"
                                 class="el-image uk-border-circle" alt="" loading="lazy" width="90" height="90">
                            <ng-template #noPicture>
                              <img src="../assets/images/icons/user.png"
                                   class="el-image uk-border-circle" alt="" loading="lazy" width="90" height="90">
                            </ng-template>
                          </picture>
                        </div>
                        <div class="uk-margin-remove-first-child">

                          <div *ngIf="editor.fullname" class="el-title uk-h5 uk-margin-remove-top uk-margin-remove-bottom">
                            <a *ngIf="editor.profile?.webpage; else noWebpage" href="{{editor.profile.webpage}}" class="uk-link-reset">{{editor.fullname}}</a>
                            <ng-template #noWebpage>
                              <div>{{editor.fullname}}</div>
                            </ng-template>
                          </div>
                          <div *ngIf="editor.profile?.affiliation" class="el-content uk-panel uk-text-small uk-text-left">
<!--                            ATHENA Research &amp; Innovation Center-->
                            {{editor.profile.affiliation}}
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--MOBILE & PAD PORTRAIT-->
            <div class="uk-hidden@m uk-text-center">
              <div class="">
                <img src="../../../assets/img/flags/{{countryCode | lowercase}}-flag-round.png" class="flag-image uk-display-block uk-margin-auto-left uk-margin-auto-right" width="103" height="103">
                <div class="uk-margin-top">
                  <h1 *ngIf="countryPageOverviewData && countryPageOverviewData.name" class="uk-margin-small-bottom">{{countryPageOverviewData.name}}</h1>
                  <span class="lastUpdateInfo">Data Last Updated: </span>
                  <!--                  TODO-->
                  <!--                  <span *ngIf="surveyAnswer?.metadata?.modificationDate" class="lastUpdateInfo">{{surveyAnswer.metadata.modificationDate | date:'mediumDate'}}</span>-->
                </div>
              </div>
            </div>



          </div>

        </div>

        <!--Research Overview-->
        <!--LAPTOP & PAD LANDSCAPE-->
        <div class="uk-visible@m uk-width-1-3@m uk-width-1-3@l">
          <div class="uk-card uk-card-default infoBox">

            <div class="uk-card-body">

              <div class="">
                <h5 class="uk-margin-small-top uk-margin-remove">R&D Information</h5>
                <div class="uk-text-muted uk-margin-small-top">From Eurostat</div>
              </div>

              <div class="numbers uk-margin-top uk-grid uk-child-width-1-2 uk-grid-match" uk-height-match="target: > div > div">

                <div class="indicator uk-grid-margin">
                  <ng-container *ngIf="countryPageOverviewData?.rndExpenditure">
                    <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.rndExpenditure?.expenditure">{{countryPageOverviewData.rndExpenditure.expenditure}}%</h5>
                    <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure || !countryPageOverviewData.rndExpenditure.expenditure">--</h5>
                    <div class="uk-text-light uk-text-muted">
                      <span> of GDP for </span>
                      <span class="number uk-text-primary">{{countryPageOverviewData.rndExpenditure.year}}</span>
                      <div> R&D expenditure</div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure">
                    <h5 class="number uk-text-primary uk-margin-small-bottom">--</h5>
                    <div class="uk-text-light uk-text-muted">R&D expenditure</div>
                  </ng-container>
                </div>

                <!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.funders">{{countryPageOverviewData.funders}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.funders">--</h5>
                  <div class="uk-text-light uk-text-muted">funders</div>
                </div>

                <!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.fundingOrganizations">{{countryPageOverviewData.fundingOrganizations}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.fundingOrganizations">--</h5>
                  <div class="uk-text-light uk-text-muted">funding organizations</div>
                </div>

                <!--                <hr class="greyBoldDivider uk-margin-medium-top uk-margin-medium-bottom">-->

                <div class="indicator uk-grid-margin">
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="countryPageOverviewData?.ec_fundedProjects">{{countryPageOverviewData.ec_fundedProjects}}</h5>
                  <h5 class="number uk-text-primary uk-margin-small-bottom" *ngIf="!countryPageOverviewData || !countryPageOverviewData.ec_fundedProjects">--</h5>
                  <div class="uk-text-light uk-text-muted">projects funded by the European Commission since 2013</div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <!--Research Overview-->
        <!--MOBILE & PAD PORTRAIT-->
        <!--        <div class="uk-hidden@m uk-width-1-1@s uk-margin-medium-top">-->
        <!--          <div class="uk-container uk-container-expand">-->
        <!--            <div *ngIf="countryPageOverviewData" class="uk-card uk-card-default chartCard overviewMobile">-->
        <!--              <div class="uk-card-body">-->
        <!--                <div class="numbers">-->

        <!--                  <div class="">-->
        <!--                    <ng-container *ngIf="countryPageOverviewData?.rndExpenditure">-->
        <!--                      <span class="number big uk-text-primary">{{countryPageOverviewData.rndExpenditure.expenditure}}%</span>-->
        <!--                      <span>-->
        <!--                      <span class="uk-margin-small-right uk-margin-small-left"> OF GDP FOR </span>-->
        <!--                      <span class="number big uk-text-primary">{{countryPageOverviewData.rndExpenditure.year}}</span>-->
        <!--                      <div class="uk-margin-small-top"> R&D EXPENDITURE</div>-->
        <!--                    </span>-->
        <!--                    </ng-container>-->
        <!--                    <ng-container *ngIf="!countryPageOverviewData || !countryPageOverviewData.rndExpenditure">-->
        <!--                      <div class="number big uk-text-primary">&#45;&#45;</div>-->
        <!--                      <div class="uk-margin-small-top">R&D EXPENDITURE</div>-->
        <!--                    </ng-container>-->
        <!--                  </div>-->

        <!--                  <div class="uk-margin-medium-top">-->
        <!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.funders">{{countryPageOverviewData.funders}}</div>-->
        <!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.funders">&#45;&#45;</div>-->
        <!--                    <div class="uk-margin-small-top">FUNDERS</div>-->
        <!--                  </div>-->

        <!--                  <div class="uk-margin-medium-top">-->
        <!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.fundingOrganizations">{{countryPageOverviewData.fundingOrganizations}}</div>-->
        <!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.fundingOrganizations">&#45;&#45;</div>-->
        <!--                    <div class="uk-margin-small-top">FUNDING ORGANIZATIONS</div>-->
        <!--                  </div>-->

        <!--                  <div class=" uk-margin-medium-top">-->
        <!--                    <div class="number big uk-text-primary" *ngIf="countryPageOverviewData?.ec_fundedProjects">{{countryPageOverviewData.ec_fundedProjects}}</div>-->
        <!--                    <div class="number big uk-text-primary" *ngIf="!countryPageOverviewData || !countryPageOverviewData.ec_fundedProjects">&#45;&#45;</div>-->
        <!--                    <div class="uk-margin-small-top">PROJECTS FUNDED BY THE EUROPEAN COMMISSION SINCE 2013</div>-->
        <!--                  </div>-->

        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->


      </div>

    </div>



  </div>
</div>

<div class="uk-section uk-section-primary uk-section-medium uk-preserve-color">
  <div class="uk-container uk-container-expand">

    <div *ngIf="surveyAnswer">

      <ul uk-tab data-uk-tab="{connect:'#sections_tabbed',animation: 'slide-bottom'}">
        <li class="uk-active"><a href="#">Overview</a></li>
        <li><a href="#">Policies</a></li>
        <li><a href="#">Infrastructure</a></li>
        <li><a>Skills</a></li>
        <li><a>About this page</a></li>
      </ul>

      <ul id="sections_tabbed" class="uk-switcher">
        <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">

          <ul class="uk-subnav uk-subnav-pill uk-margin-medium-top" uk-switcher>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Key Actors</a></li>
            <li><a href="#">Initiatives</a></li>
            <li><a href="#">Miscellaneous</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">

            <li>
              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']">
                <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question1']" class="uk-margin-large-top"></div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']">
                <div class="uk-margin-large-top uk-text-secondary">Research Funding Organisations</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question2']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question2-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']">
                <div class="uk-margin-large-top uk-text-secondary">Research Performing Organisations</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question3']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question3-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']">
                <div class="uk-margin-large-top uk-text-secondary">Research Support Organisations</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question4']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question4-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']">
                <div class="uk-margin-large-top uk-text-secondary">Other Organisations</div>
                <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question30']" class="uk-margin-medium-top"></div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']">
                <div class="uk-margin-large-top uk-text-secondary">EOSC National Initiative</div>
                <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question5']['Question5-1']" class="uk-margin-medium-top"></div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']">
                <div class="uk-margin-large-top uk-text-secondary">Open Science and FAIR National Initiatives</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question6']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question6-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']">
                <div class="uk-margin-large-top uk-text-secondary">Open Access Publishing</div>
                <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question7']" class="uk-margin-medium-top"></div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']">
                <div class="uk-margin-large-top uk-text-secondary">Regional / EC Initiatives</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question8']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question8-1']"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']">
                <div class="uk-margin-large-top uk-text-secondary">Global Initiatives</div>
                <div *ngFor="let element of surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question31']" class="uk-margin-medium-top">
                  <div [innerHTML]="element['Question31-1']"></div>
                </div>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']">
                <div [innerHTML]="surveyAnswer['SCIENCE, TECHNOLOGY & INNOVATION - STI POLICY FRAMEWORK']['Question9']" class="uk-margin-large-top"></div>
              </ng-container>
            </li>
          </ul>
        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question10']">
            <div class="uk-margin-large-top uk-text-secondary">Overview</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE POLICY']['Question10']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question11']">
            <div class="uk-margin-large-top uk-text-secondary">National Policy and Legislation</div>
            <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question11']" class="uk-margin-medium-top">
              <div [innerHTML]="element['Question11-1']"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question12']">
            <div class="uk-margin-large-top uk-text-secondary">Funder Policies</div>
            <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question12']" class="uk-margin-medium-top">
              <div [innerHTML]="element['Question12-1']"></div>
            </div>
<!--            <div [innerHTML]="surveyAnswer['OPEN SCIENCE POLICY']['Question12']" class="uk-margin-medium-top"></div>-->
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE POLICY']['Question13']">
            <div class="uk-margin-large-top uk-text-secondary">Institutional policies</div>
            <div *ngFor="let element of surveyAnswer['OPEN SCIENCE POLICY']['Question13']" class="uk-margin-medium-top">
              <div [innerHTML]="element['Question13-1']"></div>
            </div>
          </ng-container>

        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question14']">
            <div class="uk-margin-large-top uk-text-secondary">Overview</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question14']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question15']">
            <div class="uk-margin-large-top uk-text-secondary">National Data Service</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question15']['Question15-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question16']">
            <div class="uk-margin-large-top uk-text-secondary">Networks & Aggregators of Scientific/Research Content</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question16']['Question16-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question17']">
            <div class="uk-margin-large-top uk-text-secondary">Literature repositories</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question17']['Question17-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question18']">
            <div class="uk-margin-large-top uk-text-secondary">Data repositories</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question18']['Question18-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question19']">
            <div class="uk-margin-large-top uk-text-secondary">Software repositories</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question19']['Question19-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question20']">
            <div class="uk-margin-large-top uk-text-secondary">OA Publishing Platforms</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question20']['Question20-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question21']">
            <div class="uk-margin-large-top uk-text-secondary">Monitoring Infrastructure</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question21']['Question21-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question22']">
            <div class="uk-margin-large-top uk-text-secondary">Helpdesk and Support</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question22']['Question22-1']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question23']">
            <div class="uk-margin-large-top uk-text-secondary">Links to European and Global Infrastructures</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL INFRASTRUCTURE']['Question23']['Question23-1']" class="uk-margin-medium-top"></div>
          </ng-container>

        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question24']">
            <div class="uk-margin-large-top uk-text-secondary">Overview</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question24']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question25']">
            <div class="uk-margin-large-top uk-text-secondary">Training Infrastructure</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question25']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question26']">
            <div class="uk-margin-large-top uk-text-secondary">Open Science/Digital Competence centers</div>
            <div *ngFor="let element of surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question26']" class="uk-margin-medium-top">
              <div [innerHTML]="element['Question26-1']"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question27']">
            <div class="uk-margin-large-top uk-text-secondary">Open Science Professionals</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question27']" class="uk-margin-medium-top"></div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question28']">
            <div class="uk-margin-large-top uk-text-secondary">Open Science Curricula</div>
            <div *ngFor="let element of surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question28']" class="uk-margin-medium-top">
              <div [innerHTML]="element"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question29']">
            <div class="uk-margin-large-top uk-text-secondary">Links to national initiatives on Digital Skills</div>
            <div [innerHTML]="surveyAnswer['OPEN SCIENCE DIGITAL SKILLS']['Question29']['Question29-1']" class="uk-margin-medium-top"></div>
          </ng-container>

        </li>

        <li aria-hidden="true" class="" style="animation-duration: 200ms;">
          <p>About this page content</p>
        </li>
      </ul>

    </div>

  </div>
</div>
